html {
    width: 100%; /* Make sure the root element spans the full width */
    height: 100%; /* Ensure it also takes up the full height */
    margin: 0; /* Remove default margin */
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    width: 100%; /* Ensures body takes the full width */
    box-sizing: border-box; /* Includes padding and border in the total width */
    overflow-x: hidden; /* Prevents horizontal scrolling */
}



header {
    background-color: black;
    padding: 10px 0;
   
}
nav, header {
    width: 100%; /* Ensures the header spans the full width */
    box-sizing: border-box; /* Includes padding and border in the element's total width */
}


nav ul {
    list-style-type: none;
    padding: 0;
}


nav ul li {
    display: inline;
    margin: 0 40px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

section {
    padding: 20px;
    display: none; 
}
h1, h2 {
    text-align: center;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    color: #fdf9f9;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.project-box {
    background-color: #444;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    width: calc(50% - 20px); /* Two boxes per row, with space between */
    box-sizing: border-box;
    
}

.project-box h3 {
    margin-top: 0;
    color: #f1c40f;
}

.project-box p {
    margin: 10px 0;
    line-height: 1.5;
}

.project-box a {
    color: #1296ee;
    text-decoration: none;
    font-weight: bold;
}

.project-box a:hover {
    text-decoration: underline;
}

.experience-box {
    background-color: #444;  /* Box background color */
    color: #fff;  /* Text color */
    padding: 20px;  /* Padding around the content */
    margin: 20px 0;  /* Margin for spacing between sections */
    border-radius: 8px;  /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Shadow for the box */
    width: 100%;  /* Set width of the box */
    box-sizing: border-box;  /* Include padding in width calculation */
}



.experience-box ul {
    list-style-type: disc;  /* Bullet points for list */
    margin-left: 20px;  /* Left margin for list */
}

.experience-box li {
    margin-bottom: 20px;  /* Space between list items */
}

.skills-container {
    display: flex; /* Use flexbox to align items in a row */
    justify-content: space-between; /* Add space between containers */
}

.skills-box, .skill-box {
    background-color: #444;  /* Box background color */
    color: #fff;  /* Text color */
    padding: 20px;  /* Padding around the content */
    border-radius: 8px;  /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Shadow for the box */
    width: 48%;  /* Set width of the box */
    box-sizing: border-box;  /* Include padding in width calculation */
}



.skill-box {
    /* Right-aligned by setting margin-left: auto */
    margin-left:auto; /* Push the box to the right side */
    margin-top: -5%;
}


/* Responsive Design */

@media (max-width: 768px) {
    body {
        width: 100%; /* Ensure body takes full width on mobile */
    }

    .content {
        width: 100%; /* Ensure content container takes the full width on mobile */
    }
    .project-box {
        width: 100%; /* One box per row on smaller screens */
    }
}

/* Add space between paragraphs */
p {
    margin-bottom: 15px;
}

/* Set different fonts for each section */
.intro-text {
    font-family: 'Arial', sans-serif;
    font-size: 19px;
    line-height: 1.5;
}

.contact-info {
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
    line-height: 1.6;
}



@media (max-width: 768px) {
    body {
        width: 100%; /* Ensure body takes full width on mobile */
    }

    .content {
        width: 100%; /* Ensure content container takes the full width on mobile */
    }
    header {
        text-align: left;
        padding-left: 20px;
       
    }

    nav ul {
        display: flex;
        flex-direction: row; /* Align items in a row */
        padding: 0;
        gap: 10px; /* Adjust the value as per your requirement */
       
    }

    nav ul li {
        margin: 10px 0;
    }

    .project-box {
        margin: 10px 0;
    }
} 



